h1 {color: rgb(238, 6, 6);
}
#classico {width: 50%;
}
#classico {margin-left: 20%;
}
h1 {text-align: center;
}
h1 {text-decoration: underline;
}
h2 {text-align: center;}
h2 {color:rgba(196, 82, 6, 0.856)}


#classic{margin-left:35% ;}

#arte {width: 50%;}
#arte {margin-left: 20%;}
h4 {color: rgba(73, 103, 201, 0.685);}

#art {width: 50%;}
#art {margin-left: 20%;}
